.App {
  text-align: center;
}
.coinImage {
  width: 30px;
  height: 30px;
}
.imageDiv {
  float: left;
}
.coinNameDiv {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
}
.selected{
  color:red;
}
.filter{
  margin-bottom: 50px;
}
